The following Servers are Provisioning for Active Directory Domain
==================================================================== 
* Domain Controller: {{ vm_name_dc }}
* Domain Computer #1: {{ vm_name_comp1 }}
* Domain Computer #2: {{ vm_name_comp2 }}