The following Servers are successfully provisoned
==================================================================== 
{% for vm in groups['all'] %}
Server Name: {{ hostvars[vm].tags.Name }}
  Public DNS: {{ hostvars[vm].public_dns }}
  private DNS: {{ hostvars[vm].private_dns }}
  OS: {{ hostvars[vm].tags.os }}

{% endfor %}
