variable "aws_region" {
  type    = string
  default = "{{ create_vm_aws_region }}"
}

variable "availability_zone" {
  type    = string
  default = "{{ create_vm_aws_region }}e"
}

variable "subnet_id" {
  type    = string
  default = "{{ subnet_id }}"
}

variable "security_group_ids" {
  type    = list(string)
  default = ["{{ security_group_id }}"]
}


variable "win_2019_full_ami_id" {
  type    = string
  default = "{{ win_2019_full_ami_id }}"
}

variable "win_2019_core_ami_id" {
  type    = string
  default = "{{ win_2019_core_ami_id }}"
}